.App {
  text-align: center;
}

.App-header {
  padding-top: 100px;
}

.App-intro {
  font-size: large;
}

.card {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 138px;
  height: 185px;
  border-radius: 10px;
  border: 1px solid #000000;
}

.card-back {
  background-image: url("./card.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card-number {
  display: inline;
  position: absolute;
  left: 56px;
  top: 44px;
}

.text-width {
  width: 200px;
  margin: auto;
}

.input-grp-padding {
  padding-top: 20px;
}
